/* General */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/* Grid Header */

.grid-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    position: relative;
    font-size: 24px;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: rgba(38, 38, 38, 0.4);
    transition: all 0.5s ease-in-out;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 60px; 
    padding-left: 20px; 
}

.logo {
    width: 100px;
    cursor: pointer;
}

/* Navigation Bar */

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

li {
    padding: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease 0s;
}

.nav-links li a:hover {
    background-color: transparent;
    color: grey;
    padding: 16px;
    transition: all 0.5s ease 0s;
    text-decoration: underline;
    text-underline-offset: 1rem;
}


/* Search Box */

.search-box {
    height: 30px;
    display: inline-flex;
    cursor: pointer;
    padding: 24px 24px;
    background: transparent;
    border-radius: 30px;
    align-items: center;
    transition: all 0.7s ease;
}

.search-box:hover input {
    width: 400px;
}

.search-box:hover {
    cursor: auto;
    background-color: white;
}

.search-box input {
    width: 0;
    outline: none;
    border: none;
    transition: all 0.7s ease;
    background-color: transparent;
}

.search-box a .fas {
    color: white;
    font-size: 24px;
    transition: all 0.7s ease;
}

.search-box:hover .fas {
    color: black;
}


/* Background video */

#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

section {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 1px;
    align-items: center;
}


/* Hamburger Menu */

#hamburger-navigation {
    display: none;
    position: fixed; /* Fixed positioning at the top */
    top: 0; /* Align top edge to the top of the viewport */
    left: 0; /* Align left edge to the left of the viewport */
    width: 100%; /* Span the full width of the viewport */
    color: white; /* Light text color for contrast */
    z-index: 1000; /* High z-index to ensure it is on top of other content */
    padding-right: 20px;
}


.hamburger-menu {
    display: flex;
    justify-content: flex-end; /* Align menu items appropriately */
    width: 100%; /* Ensure the menu uses the full width */
    padding: 10px 20px; /* Some padding around the menu items */
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.7s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links a:active {
    color: grey;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 8px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -8px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* What is Project: APEX */

#welcome-container {
    background-color: #102040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px;
}

.welcome-image img {
    height: auto;
    margin: 0px 160px 0 0;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.section-welcome-text p {
    color: white;
    width: 60%;
    margin: 0px 0 0 160px;
    font-size: 24px;
    line-height: 130%;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.learn-more-button {
    padding: 10px 20px; 
    background-color: #38DCE4; 
    color: black;
    border: none; 
    border-radius: 8px; 
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
    margin: 20px 0 0 160px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.learn-more-button:hover {
    background-color: #25969c;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

/* Our Goals */

.section-our-goals {
    background-color: #C0CBD6;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 60px;
}

.section-our-goals h1 {
    color: black;
    font-size: 40px;
    margin: 0 0 20px 0;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

.section-our-goals p {
    color: black;
    font-size: 24px;
    margin: 0 160px 0 160px;
    line-height: 130%;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Goal 1*/

.goal_1-container {
    background-color: #0D1B36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px;
}

.goal_1-image img {
    height: auto;
    margin: 0px 0 0 160px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.goal_1-text-and-button h1 {
    color: #38DCE4;
    margin: 0 160px 16px 60px;
    font-size: 32px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.goal_1-text-and-button p {
    color: white;
    margin: 0 160px 0 60px;
    font-size: 24px;
    line-height: 130%;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.learn-more-button-right {
    padding: 10px 20px; 
    color: black;
    border: none; 
    border-radius: 8px; 
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
    margin: 20px 0 0 60px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.learn-more-button-right:hover {
    background-color: #25969c;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

/* Goal 2 */

.goal_2-container {
    background-color: #102040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px;
}

.goal_2-image img {
    height: auto;
    margin: 0px 160px 0 0;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.goal_2-text p {
    color: white;
    width: 75%;
    margin: 0px 0 0 160px;
    font-size: 24px;
    line-height: 130%;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.goal_2-text h1 {
    color: #38DCE4;
    margin: 0 0 16px 160px;
    font-size: 32px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Goal 3 */

.goal_3-container {
    background-color: #0D1B36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px;
}

.goal_3-image img {
    height: auto;
    margin: 0px 0 0 160px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.goal_3-text-and-button h1 {
    color: #38DCE4;
    margin: 0 160px 16px 60px;
    font-size: 32px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.goal_3-text-and-button p {
    color: white;
    margin: 0 160px 0 60px;
    font-size: 24px;
    line-height: 130%;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.learn-more-button-right {
    padding: 10px 20px; 
    background-color: #38DCE4; 
    color: black;
    border: none; 
    border-radius: 8px; 
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
    margin: 20px 0 0 60px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.learn-more-button-right:hover {
    background-color: #25969c;
    transition: all 0.7s ease;
}

/* Goal 4 */

.goal_4-container {
    background-color: #102040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px;
}

.goal_4-image img {
    height: auto;
    margin: 0px 160px 0 0;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.goal_4-text p {
    color: white;
    width: 75%;
    margin: 0px 0 0 160px;
    font-size: 24px;
    line-height: 130%;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.goal_4-text h1 {
    color: #38DCE4;
    margin: 0 0 16px 160px;
    font-size: 32px;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Infinite Carousel */

.infinite-carousel-container {
    background-color: #0D1B36;
    padding: 40px;
}

.infinite-carousel {
    background-color: #0D1B36;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    height: 100px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(13, 27, 54, 0),   /* Adjusted to match the background color */
        rgba(13, 27, 54, 1) 20%,  /* Adjusted to match the background color */
        rgba(13, 27, 54, 1) 80%,  /* Adjusted to match the background color */
        rgba(13, 27, 54, 0)
      );

      animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  
  
  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }
  
  @keyframes scrollRight {
    to {
      right: -200px;
    }
  }
  
  .itemLeft,
  .itemRight {
    width: 400px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 90px;
    color: white;
    border-radius: 6px;
    padding: 0 20px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    white-space: nowrap;
  }
  
  .itemLeft {
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
  }
  
  .itemRight {
    right: max(calc(200px * 8), calc(100% + 200px));
    animation-name: scrollRight;
  }
  
  .item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
  }
  
  .item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }
  
  .item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }
  
  .item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }
  
  .item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }
  
  .item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
  }
  
  .item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }
  
  .item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }

/* Career */

.career-section {
    text-align: center;
    padding: 50px 20px;
    background-color:#102040;
}

.career-section h1 {
    margin-bottom: 50px;
    color: white;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

.careers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.career-card {
    background-color:#102040;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;

    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.career-card:hover {
    transform: scale(1.05);
}

.career-image {
    background-color: #7a8a99;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.career-card h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color:#38DCE4;
}

.career-card p {
    font-size: 1em;
    margin-bottom: 20px;
    color: white;
    line-height: 130%;
}

.career-link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.career-link:hover {
    text-decoration: underline;
}

.hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out
}

.explore-jobs-button {
    padding: 15px 30px; 
    background-color: #38DCE4; 
    color: black;
    border: none; 
    border-radius: 8px; 
    font-size: 20px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
    margin-top: 60px;
    text-align: center;
}

.explore-jobs-button:hover {
    background-color: #25969c;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

/* Fade-In Scroll */

@keyframes CSSscrollReveal {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */


footer{
    background-color: #0B162C;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
.container {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#f2f2f2f2;
   padding:0 2rem;
}
.col .logo{
   width: 100px;
   margin-bottom:25px;
}
.col h3{
   color: #38DCE4;
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: #38DCE4;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color:#38DCE4;
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#f2f2f2;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: #38DCE4;
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color: #38DCE4;
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
}
.col .contact-details i{
   margin-right:15px;
}
.row .form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:2rem 0;
}

.col-img {
    width: 600px;
    margin: 0 100px 0 0;
}


